@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
/* Import global assets for all apps */
/* Compass CSS3 Library */
/* Variables */
/* Breakpoints */
/* Font Smoothing */
/* Text Size Adjust */
/* Modules */
/* Globals */
/* Reset */
/* Reset */
/* Add HTML5 elements */
/* Defaults */
/* Reset */
/* line 18, ../_loom_compass/scss/loom/global/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* Elements */
/* Add HTML5 elements */
/* line 41, ../_loom_compass/scss/loom/global/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* Defaults */
/* line 53, ../_loom_compass/scss/loom/global/_reset.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  text-decoration: none;
}

/* line 57, ../_loom_compass/scss/loom/global/_reset.scss */
ul {
  list-style: none;
}

/* line 60, ../_loom_compass/scss/loom/global/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 65, ../_loom_compass/scss/loom/global/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 70, ../_loom_compass/scss/loom/global/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
/* line 61, ../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 53, ../_loom_compass/scss/loom/global/_typography.scss */
html {
  font-family: "Merriweather";
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 60em) {
  /* line 53, ../_loom_compass/scss/loom/global/_typography.scss */
  html {
    font-size: 18px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 75em) {
  /* line 53, ../_loom_compass/scss/loom/global/_typography.scss */
  html {
    font-size: 20px;
    line-height: 30px;
  }
}

/* line 70, ../_loom_compass/scss/loom/global/_typography.scss */
h1,
.alpha, h2,
.beta, h3,
.gamma, h4,
.delta, h5,
.epsilon, h6,
.zeta {
  text-rendering: optimizeLegibility;
  line-height: 1;
  display: block;
}

/* line 78, ../_loom_compass/scss/loom/global/_typography.scss */
h1,
.alpha {
  font-size: 3.9375em;
  line-height: 1.14286em;
}
@media only screen and (min-width: 60em) {
  /* line 78, ../_loom_compass/scss/loom/global/_typography.scss */
  h1,
  .alpha {
    font-size: 4.5em;
    line-height: 1.33333em;
  }
}

/* line 89, ../_loom_compass/scss/loom/global/_typography.scss */
h2,
.beta {
  font-size: 3.0625em;
  line-height: 1.46939em;
}
@media only screen and (min-width: 60em) {
  /* line 89, ../_loom_compass/scss/loom/global/_typography.scss */
  h2,
  .beta {
    font-size: 3.375em;
    line-height: 1.33333em;
  }
}

/* line 100, ../_loom_compass/scss/loom/global/_typography.scss */
h3,
.gamma {
  font-size: 2.8125em;
  line-height: 1.6em;
}

/* line 107, ../_loom_compass/scss/loom/global/_typography.scss */
h4,
.delta {
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* line 114, ../_loom_compass/scss/loom/global/_typography.scss */
h5,
.epsilon {
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1.35em;
}

/* line 122, ../_loom_compass/scss/loom/global/_typography.scss */
h6,
.zeta {
  font-size: 1.125em;
  line-height: 1.33333em;
  line-height: 1.5em;
}

/* line 129, ../_loom_compass/scss/loom/global/_typography.scss */
p {
  margin-bottom: 1.5em;
}
/* line 131, ../_loom_compass/scss/loom/global/_typography.scss */
p.lead {
  margin-top: 1.5em;
}

/* Navigation */
/* line 1, ../_loom_compass/scss/loom/layout/_navigation.scss */
.control {
  margin-bottom: 2em;
  text-align: right;
}

/* line 5, ../_loom_compass/scss/loom/layout/_navigation.scss */
.footer-nav {
  border-top: 1px solid #808080;
  margin: 0 -1em;
}

/* line 9, ../_loom_compass/scss/loom/layout/_navigation.scss */
.footer-nav li a {
  display: block;
  padding: 0.8em 1em;
  border-bottom: 1px solid #808080;
}

@media only screen and (min-width: 60em) {
  /* line 16, ../_loom_compass/scss/loom/layout/_navigation.scss */
  .footer-nav-link {
    display: none;
  }

  /* line 19, ../_loom_compass/scss/loom/layout/_navigation.scss */
  .footer-nav {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    margin: 0;
  }

  /* line 26, ../_loom_compass/scss/loom/layout/_navigation.scss */
  .footer-nav li {
    display: inline-block;
    margin-right: 0.25em;
  }

  /* line 30, ../_loom_compass/scss/loom/layout/_navigation.scss */
  .footer-nav li a {
    border: 0;
  }
}
/* Helpers */
/* Grid Import */
/* line 19, ../_loom_compass/scss/loom/layout/_grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../_loom_compass/scss/loom/layout/_grid.scss */
.row {
  width: 100%;
  padding: 24px;
}
/* line 34, ../_loom_compass/scss/loom/layout/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 60em) {
  /* line 30, ../_loom_compass/scss/loom/layout/_grid.scss */
  .row {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }
}
/* line 47, ../_loom_compass/scss/loom/layout/_grid.scss */
.row .row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/* line 56, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit {
  float: left;
}
/* line 57, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of1 {
  float: none;
}
/* line 58, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of2 {
  width: 50%;
}
/* line 59, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of3 {
  width: 33.33333%;
}
/* line 60, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size2of3 {
  width: 66.66666%;
}
/* line 61, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of4 {
  width: 25%;
}
/* line 62, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size3of4 {
  width: 75%;
}
/* line 63, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of5 {
  width: 20%;
}
/* line 64, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size2of5 {
  width: 40%;
}
/* line 65, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size3of5 {
  width: 60%;
}
/* line 66, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size4of5 {
  width: 80%;
}

/* line 69, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit-right {
  float: right;
}

/* line 74, ../_loom_compass/scss/loom/layout/_grid.scss */
.column {
  float: left;
  padding-right: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 60em) {
  /* line 74, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column {
    padding-bottom: 0;
  }
  /* line 82, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of1 {
    float: none;
  }
  /* line 83, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of2 {
    width: 50%;
  }
  /* line 84, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of3 {
    width: 33.33333%;
  }
  /* line 85, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size2of3 {
    width: 66.66666%;
  }
  /* line 86, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of4 {
    width: 25%;
  }
  /* line 87, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size3of4 {
    width: 75%;
  }
  /* line 88, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of5 {
    width: 20%;
  }
  /* line 89, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size2of5 {
    width: 40%;
  }
  /* line 90, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size3of5 {
    width: 60%;
  }
  /* line 91, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size4of5 {
    width: 80%;
  }
}

/* line 95, ../_loom_compass/scss/loom/layout/_grid.scss */
.column:last-of-type {
  float: right;
}

/* line 101, ../_loom_compass/scss/loom/layout/_grid.scss */
.size1of1 {
  float: none;
}
